n8n/workflows/agente_icegroup.json
{"updatedAt":"2026-04-23T22:29:48.288Z","createdAt":"2026-04-23T20:39:49.143Z","id":"3wSREyfpXjv0Vp7z","name":"ICEGROUP WhatsApp Agent - Max","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh-get","name":"Webhook GET Verificacion","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[160,160],"webhookId":"icegroup-wa-get","parameters":{"httpMethod":"GET","path":"whatsapp","responseMode":"responseNode","options":{}}},{"id":"code-verify","name":"Code Verificacion Meta","type":"n8n-nodes-base.code","typeVersion":2,"position":[380,160],"parameters":{"mode":"runOnceForAllItems","jsCode":"const q=$input.first().json.query||{};\nif(q['hub.mode']==='subscribe'&&q['hub.verify_token']==='icegroup_verify_2024'){return [{json:{challenge:q['hub.challenge'],status:200}}];}\nreturn [{json:{challenge:'FORBIDDEN',status:403}}];"}},{"id":"resp-verify","name":"Respond Verificacion","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[600,160],"parameters":{"respondWith":"text","responseBody":"={{ $json.challenge }}","options":{"responseCode":"={{ $json.status }}"}}},{"id":"wh-post","name":"Webhook POST","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[160,400],"webhookId":"icegroup-wa-post","parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"responseNode","options":{}}},{"id":"code-validar","name":"Code Validar Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[380,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const b=$input.first().json.body;\nconst v=b?.entry?.[0]?.changes?.[0]?.value;\nconst m=v?.messages?.[0];\nreturn [{json:{valid:!!m&&m.type==='text'&&!v?.statuses,body:b}}];"}},{"id":"if-valid","name":"IF Mensaje Valido","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"resp-invalid","name":"Respond OK Invalido","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[820,560],"parameters":{"respondWith":"json","responseBody":"{\"status\":\"ok\"}","options":{"responseCode":200}}},{"id":"code-extraer","name":"Code Extraer Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[820,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const b=$input.first().json.body;\nconst v=b.entry[0].changes[0].value;\nconst m=v.messages[0];\nconst c=v.contacts?.[0];\nreturn [{json:{telefono:m.from,mensaje:m.text.body,nombre_wa:c?.profile?.name||null,message_id:m.id}}];"}},{"id":"http-upsert-lead","name":"HTTP Upsert Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1040,400],"parameters":{"method":"POST","url":"https://cuhhlowsgpaghviovafv.supabase.co/rest/v1/leads?on_conflict=telefono","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUPABASE_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer SUPABASE_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=representation"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"telefono","value":"={{ $json.telefono }}"},{"name":"nombre","value":"={{ $json.nombre_wa }}"},{"name":"estado","value":"nuevo"}]},"options":{}}},{"id":"http-historial","name":"HTTP Get Historial","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1260,400],"parameters":{"method":"GET","url":"https://cuhhlowsgpaghviovafv.supabase.co/rest/v1/conversaciones","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUPABASE_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer SUPABASE_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"lead_id","value":"={{ 'eq.' + $json.id }}"},{"name":"order","value":"created_at.asc"},{"name":"limit","value":"20"},{"name":"select","value":"rol,mensaje"}]}}},{"id":"code-claude-ctx","name":"Code Construir Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1480,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const hData = $input.first().json;\nconst lead  = $('HTTP Upsert Lead').first().json;\nconst msg   = $('Code Extraer Datos').first().json;\nconst hist  = Array.isArray(hData.body) ? hData.body : [];\nconst nombre = lead.nombre || msg.nombre_wa || 'amigo';\nconst sys = 'Eres Max, asesor comercial de ICEGROUP Colombia. PRODUCTOS: Maquina granizadora $5.600.000 + 2 bolsas gratis 9L. Insumos CON licor $50.000/bolsa 9L. SIN licor $40.000/bolsa 9L. PAGO: Bancolombia Ahorros 50378474733 ICEGROUP COLOMBIA. LOGISTICA: https://wa.me/message/YA7Y2IV7VEVSD1 (sabores los confirma logistica). REGLAS: Habla de TU siempre. Max 4 lineas por mensaje. NUNCA inventes precios ni condiciones. Califica al cliente antes de dar info masiva. Abre siempre con una patada voladora, NUNCA con en que te puedo ayudar. Usa el nombre del cliente constantemente. Cliente actual: ' + nombre;\nconst messages = [\n  ...hist.map(h => ({ role: h.rol, content: h.mensaje })),\n  { role: 'user', content: msg.mensaje }\n];\nreturn [{json:{\n  system: sys,\n  messages: messages,\n  lead_id: lead.id,\n  lead_nombre: lead.nombre,\n  lead_estado: lead.estado || 'nuevo',\n  telefono: msg.telefono,\n  mensaje_usuario: msg.mensaje\n}}];"}},{"id":"http-claude","name":"HTTP Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1700,400],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"ANTHROPIC_API_KEY_HERE"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"model","value":"claude-sonnet-4-6"},{"name":"max_tokens","value":"={{ 500 }}"},{"name":"system","value":"={{ $json.system }}"},{"name":"messages","value":"={{ $json.messages }}"}]},"options":{}}},{"id":"code-resp","name":"Code Procesar Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const cr = $input.first().json;\nconst p  = $('Code Construir Contexto').first().json;\nconst respuesta = cr.content?.[0]?.text || 'En este momento estamos atendiendo tu mensaje. En un momento te respondemos!';\nlet estado = null;\nconst r = respuesta.toLowerCase();\nif (r.includes('50378474733') || r.includes('bienvenido')) estado = 'cerrado';\nelse if (r.includes('ciudad') || r.includes('negocio') || r.includes('llamas')) estado = 'en_conversacion';\nelse if (r.includes('pago') || r.includes('granizados') || r.includes('mes')) estado = 'calificado';\nreturn [{json:{respuesta,estado_nuevo:estado,lead_id:p.lead_id,lead_estado:p.lead_estado,telefono:p.telefono,mensaje_usuario:p.mensaje_usuario}}];"}},{"id":"http-save-user","name":"HTTP Save User Msg","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2140,300],"parameters":{"method":"POST","url":"https://cuhhlowsgpaghviovafv.supabase.co/rest/v1/conversaciones","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUPABASE_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer SUPABASE_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"lead_id","value":"={{ $json.lead_id }}"},{"name":"rol","value":"user"},{"name":"mensaje","value":"={{ $json.mensaje_usuario }}"}]},"options":{}}},{"id":"http-save-agent","name":"HTTP Save Agent Msg","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2140,480],"parameters":{"method":"POST","url":"https://cuhhlowsgpaghviovafv.supabase.co/rest/v1/conversaciones","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUPABASE_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer SUPABASE_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"lead_id","value":"={{ $('Code Procesar Respuesta').first().json.lead_id }}"},{"name":"rol","value":"assistant"},{"name":"mensaje","value":"={{ $('Code Procesar Respuesta').first().json.respuesta }}"}]},"options":{}}},{"id":"http-wa","name":"HTTP Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2360,400],"parameters":{"method":"POST","url":"https://graph.facebook.com/v19.0/935645596303993/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer META_ACCESS_TOKEN_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"recipient_type","value":"individual"},{"name":"to","value":"={{ $('Code Procesar Respuesta').first().json.telefono }}"},{"name":"type","value":"text"},{"name":"text","value":"={{ { preview_url: false, body: $('Code Procesar Respuesta').first().json.respuesta } }}"}]},"options":{}}},{"id":"resp-ok","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2580,400],"parameters":{"respondWith":"json","responseBody":"{\"status\":\"ok\"}","options":{"responseCode":200}}}],"connections":{"Webhook GET Verificacion":{"main":[[{"node":"Code Verificacion Meta","type":"main","index":0}]]},"Code Verificacion Meta":{"main":[[{"node":"Respond Verificacion","type":"main","index":0}]]},"Webhook POST":{"main":[[{"node":"Code Validar Mensaje","type":"main","index":0}]]},"Code Validar Mensaje":{"main":[[{"node":"IF Mensaje Valido","type":"main","index":0}]]},"IF Mensaje Valido":{"main":[[{"node":"Code Extraer Datos","type":"main","index":0}],[{"node":"Respond OK Invalido","type":"main","index":0}]]},"Code Extraer Datos":{"main":[[{"node":"HTTP Upsert Lead","type":"main","index":0}]]},"HTTP Upsert Lead":{"main":[[{"node":"HTTP Get Historial","type":"main","index":0}]]},"HTTP Get Historial":{"main":[[{"node":"Code Construir Contexto","type":"main","index":0}]]},"Code Construir Contexto":{"main":[[{"node":"HTTP Claude API","type":"main","index":0}]]},"HTTP Claude API":{"main":[[{"node":"Code Procesar Respuesta","type":"main","index":0}]]},"Code Procesar Respuesta":{"main":[[{"node":"HTTP Save User Msg","type":"main","index":0}]]},"HTTP Save User Msg":{"main":[[{"node":"HTTP Save Agent Msg","type":"main","index":0}]]},"HTTP Save Agent Msg":{"main":[[{"node":"HTTP Enviar WhatsApp","type":"main","index":0}]]},"HTTP Enviar WhatsApp":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true},"staticData":null,"meta":null,"pinData":null,"versionId":"cf92c4bb-66ee-45cc-967f-cd9cae1ba395","activeVersionId":"cf92c4bb-66ee-45cc-967f-cd9cae1ba395","versionCounter":15,"triggerCount":2,"shared":[{"updatedAt":"2026-04-23T20:39:49.150Z","createdAt":"2026-04-23T20:39:49.150Z","role":"workflow:owner","workflowId":"3wSREyfpXjv0Vp7z","projectId":"rBNJzlFnAIYyXup7","project":{"updatedAt":"2026-04-23T20:00:58.277Z","createdAt":"2026-04-23T01:43:22.772Z","id":"rBNJzlFnAIYyXup7","name":"ICEGROUP Admin <admin@icegroup.co>","type":"personal","icon":null,"description":null,"creatorId":"c4f90408-b512-45c7-99f5-f82bc24803a9"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-23T22:29:48.275Z","createdAt":"2026-04-23T22:29:48.275Z","versionId":"cf92c4bb-66ee-45cc-967f-cd9cae1ba395","workflowId":"3wSREyfpXjv0Vp7z","nodes":[{"id":"wh-get","name":"Webhook GET Verificacion","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[160,160],"webhookId":"icegroup-wa-get","parameters":{"httpMethod":"GET","path":"whatsapp","responseMode":"responseNode","options":{}}},{"id":"code-verify","name":"Code Verificacion Meta","type":"n8n-nodes-base.code","typeVersion":2,"position":[380,160],"parameters":{"mode":"runOnceForAllItems","jsCode":"const q=$input.first().json.query||{};\nif(q['hub.mode']==='subscribe'&&q['hub.verify_token']==='icegroup_verify_2024'){return [{json:{challenge:q['hub.challenge'],status:200}}];}\nreturn [{json:{challenge:'FORBIDDEN',status:403}}];"}},{"id":"resp-verify","name":"Respond Verificacion","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[600,160],"parameters":{"respondWith":"text","responseBody":"={{ $json.challenge }}","options":{"responseCode":"={{ $json.status }}"}}},{"id":"wh-post","name":"Webhook POST","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[160,400],"webhookId":"icegroup-wa-post","parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"responseNode","options":{}}},{"id":"code-validar","name":"Code Validar Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[380,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const b=$input.first().json.body;\nconst v=b?.entry?.[0]?.changes?.[0]?.value;\nconst m=v?.messages?.[0];\nreturn [{json:{valid:!!m&&m.type==='text'&&!v?.statuses,body:b}}];"}},{"id":"if-valid","name":"IF Mensaje Valido","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"resp-invalid","name":"Respond OK Invalido","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[820,560],"parameters":{"respondWith":"json","responseBody":"{\"status\":\"ok\"}","options":{"responseCode":200}}},{"id":"code-extraer","name":"Code Extraer Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[820,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const b=$input.first().json.body;\nconst v=b.entry[0].changes[0].value;\nconst m=v.messages[0];\nconst c=v.contacts?.[0];\nreturn [{json:{telefono:m.from,mensaje:m.text.body,nombre_wa:c?.profile?.name||null,message_id:m.id}}];"}},{"id":"http-upsert-lead","name":"HTTP Upsert Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1040,400],"parameters":{"method":"POST","url":"https://cuhhlowsgpaghviovafv.supabase.co/rest/v1/leads?on_conflict=telefono","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUPABASE_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer SUPABASE_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=representation"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"telefono","value":"={{ $json.telefono }}"},{"name":"nombre","value":"={{ $json.nombre_wa }}"},{"name":"estado","value":"nuevo"}]},"options":{}}},{"id":"http-historial","name":"HTTP Get Historial","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1260,400],"parameters":{"method":"GET","url":"https://cuhhlowsgpaghviovafv.supabase.co/rest/v1/conversaciones","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUPABASE_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer SUPABASE_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"lead_id","value":"={{ 'eq.' + $json.id }}"},{"name":"order","value":"created_at.asc"},{"name":"limit","value":"20"},{"name":"select","value":"rol,mensaje"}]}}},{"id":"code-claude-ctx","name":"Code Construir Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1480,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const hData = $input.first().json;\nconst lead  = $('HTTP Upsert Lead').first().json;\nconst msg   = $('Code Extraer Datos').first().json;\nconst hist  = Array.isArray(hData.body) ? hData.body : [];\nconst nombre = lead.nombre || msg.nombre_wa || 'amigo';\nconst sys = 'Eres Max, asesor comercial de ICEGROUP Colombia. PRODUCTOS: Maquina granizadora $5.600.000 + 2 bolsas gratis 9L. Insumos CON licor $50.000/bolsa 9L. SIN licor $40.000/bolsa 9L. PAGO: Bancolombia Ahorros 50378474733 ICEGROUP COLOMBIA. LOGISTICA: https://wa.me/message/YA7Y2IV7VEVSD1 (sabores los confirma logistica). REGLAS: Habla de TU siempre. Max 4 lineas por mensaje. NUNCA inventes precios ni condiciones. Califica al cliente antes de dar info masiva. Abre siempre con una patada voladora, NUNCA con en que te puedo ayudar. Usa el nombre del cliente constantemente. Cliente actual: ' + nombre;\nconst messages = [\n  ...hist.map(h => ({ role: h.rol, content: h.mensaje })),\n  { role: 'user', content: msg.mensaje }\n];\nreturn [{json:{\n  system: sys,\n  messages: messages,\n  lead_id: lead.id,\n  lead_nombre: lead.nombre,\n  lead_estado: lead.estado || 'nuevo',\n  telefono: msg.telefono,\n  mensaje_usuario: msg.mensaje\n}}];"}},{"id":"http-claude","name":"HTTP Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1700,400],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"ANTHROPIC_API_KEY_HERE"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"model","value":"claude-sonnet-4-6"},{"name":"max_tokens","value":"={{ 500 }}"},{"name":"system","value":"={{ $json.system }}"},{"name":"messages","value":"={{ $json.messages }}"}]},"options":{}}},{"id":"code-resp","name":"Code Procesar Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const cr = $input.first().json;\nconst p  = $('Code Construir Contexto').first().json;\nconst respuesta = cr.content?.[0]?.text || 'En este momento estamos atendiendo tu mensaje. En un momento te respondemos!';\nlet estado = null;\nconst r = respuesta.toLowerCase();\nif (r.includes('50378474733') || r.includes('bienvenido')) estado = 'cerrado';\nelse if (r.includes('ciudad') || r.includes('negocio') || r.includes('llamas')) estado = 'en_conversacion';\nelse if (r.includes('pago') || r.includes('granizados') || r.includes('mes')) estado = 'calificado';\nreturn [{json:{respuesta,estado_nuevo:estado,lead_id:p.lead_id,lead_estado:p.lead_estado,telefono:p.telefono,mensaje_usuario:p.mensaje_usuario}}];"}},{"id":"http-save-user","name":"HTTP Save User Msg","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2140,300],"parameters":{"method":"POST","url":"https://cuhhlowsgpaghviovafv.supabase.co/rest/v1/conversaciones","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUPABASE_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer SUPABASE_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"lead_id","value":"={{ $json.lead_id }}"},{"name":"rol","value":"user"},{"name":"mensaje","value":"={{ $json.mensaje_usuario }}"}]},"options":{}}},{"id":"http-save-agent","name":"HTTP Save Agent Msg","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2140,480],"parameters":{"method":"POST","url":"https://cuhhlowsgpaghviovafv.supabase.co/rest/v1/conversaciones","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUPABASE_SERVICE_KEY_HERE"},{"name":"Authorization","value":"Bearer SUPABASE_SERVICE_KEY_HERE"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"lead_id","value":"={{ $('Code Procesar Respuesta').first().json.lead_id }}"},{"name":"rol","value":"assistant"},{"name":"mensaje","value":"={{ $('Code Procesar Respuesta').first().json.respuesta }}"}]},"options":{}}},{"id":"http-wa","name":"HTTP Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2360,400],"parameters":{"method":"POST","url":"https://graph.facebook.com/v19.0/935645596303993/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer META_ACCESS_TOKEN_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"recipient_type","value":"individual"},{"name":"to","value":"={{ $('Code Procesar Respuesta').first().json.telefono }}"},{"name":"type","value":"text"},{"name":"text","value":"={{ { preview_url: false, body: $('Code Procesar Respuesta').first().json.respuesta } }}"}]},"options":{}}},{"id":"resp-ok","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2580,400],"parameters":{"respondWith":"json","responseBody":"{\"status\":\"ok\"}","options":{"responseCode":200}}}],"connections":{"Webhook GET Verificacion":{"main":[[{"node":"Code Verificacion Meta","type":"main","index":0}]]},"Code Verificacion Meta":{"main":[[{"node":"Respond Verificacion","type":"main","index":0}]]},"Webhook POST":{"main":[[{"node":"Code Validar Mensaje","type":"main","index":0}]]},"Code Validar Mensaje":{"main":[[{"node":"IF Mensaje Valido","type":"main","index":0}]]},"IF Mensaje Valido":{"main":[[{"node":"Code Extraer Datos","type":"main","index":0}],[{"node":"Respond OK Invalido","type":"main","index":0}]]},"Code Extraer Datos":{"main":[[{"node":"HTTP Upsert Lead","type":"main","index":0}]]},"HTTP Upsert Lead":{"main":[[{"node":"HTTP Get Historial","type":"main","index":0}]]},"HTTP Get Historial":{"main":[[{"node":"Code Construir Contexto","type":"main","index":0}]]},"Code Construir Contexto":{"main":[[{"node":"HTTP Claude API","type":"main","index":0}]]},"HTTP Claude API":{"main":[[{"node":"Code Procesar Respuesta","type":"main","index":0}]]},"Code Procesar Respuesta":{"main":[[{"node":"HTTP Save User Msg","type":"main","index":0}]]},"HTTP Save User Msg":{"main":[[{"node":"HTTP Save Agent Msg","type":"main","index":0}]]},"HTTP Save Agent Msg":{"main":[[{"node":"HTTP Enviar WhatsApp","type":"main","index":0}]]},"HTTP Enviar WhatsApp":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"authors":"ICEGROUP Admin","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-23T22:29:48.370Z","id":7,"workflowId":"3wSREyfpXjv0Vp7z","versionId":"cf92c4bb-66ee-45cc-967f-cd9cae1ba395","event":"activated","userId":"c4f90408-b512-45c7-99f5-f82bc24803a9"}]}}